<section class="promo-banner container-fluid py-4">
	<div class="row g-4">
		<!-- Column 1 -->
		<div class="col-12 col-md-4">
			<div class="banner-block p-3 h-100">
				<h6 class="banner-heading">Shop & Discover</h6>
				<ul class="banner-list list-unstyled mb-0">
					<li><a href="#electronics" class="banner-link">Electronics & Accessories</a></li>
					<li><a href="#home" class="banner-link">Home & Kitchen Essentials</a></li>
					<li><a href="#fashion" class="banner-link">Latest Fashion Trends</a></li>
				</ul>
			</div>
		</div>
		<!-- Column 2 -->
		<div class="col-12 col-md-4">
			<div class="banner-block p-3 h-100">
				<h6 class="banner-heading">Enhance Your Life</h6>
				<ul class="banner-list list-unstyled mb-0">
					<li><a href="#fitness" class="banner-link">Fitness & Wellness Picks</a></li>
					<li><a href="#deals" class="banner-link">Today's Deals & Offers</a></li>
					<li><a href="#gifting" class="banner-link">Gifting & Celebrations</a></li>
				</ul>
			</div>
		</div>
		<!-- Column 3 -->
		<div class="col-12 col-md-4">
			<div class="banner-block p-3 h-100">
				<h6 class="banner-heading">Support & Services</h6>
				<ul class="banner-list list-unstyled mb-0">
					<li><a href="#support" class="banner-link">Customer Support Center</a></li>
					<li><a href="#returns" class="banner-link">Returns & Replacements</a></li>
					<li><a href="#membership" class="banner-link">Membership & Rewards</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<bajaj-products-list></bajaj-products-list>
