<div id="carouselExample" class="carousel slide slider-wrapper">
  <div class="carousel-inner slider-inner">
    <div class="carousel-item active slider-item">
      <img src="/images/camera.png" class="slider-image" alt="Camera">
    </div>
    <div class="carousel-item slider-item">
      <img src="/images/handcrafted-wooden-decorative-vases_23-2151003006.jpg" class="slider-image" alt="Handcrafted Wooden Decorative Vases">
    </div>
    <div class="carousel-item slider-item">
      <img src="/images/houseplant-poster-template-vector-set-indoor-gardening_53876-144158.jpg" class="slider-image" alt="Houseplant Poster Template">
    </div>
    <div class="carousel-item slider-item">
      <img src="/images/abstract-circle-wall-art-set_610324-6475.jpg" class="slider-image" alt="Abstract Circle Wall Art Set">
    </div>
    <div class="carousel-item slider-item">
      <img src="/images/view-modern-entryway-with-interior-designed-furniture_23-2150790992.jpg" class="slider-image" alt="Modern Entryway with Interior Designed Furniture">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>